28 lines (22 sloc)  402 Bytes

# for local use

local_dontSync/
  
# General
.DS_Store


# Ulysses
.Ulysses-Group.plist
file_archive/InterviewGuide/.Ulysses-Group.plist

#API Keys
prototype/src/main/java/constant/APIKeys.java
/prototype/src/main/java/constant/APIKeys.java
