28 lines (22 sloc)  402 Bytes

# for local use

local_dontSync/
  
# General
.DS_Store


# Ulysses
.Ulysses-Group.plist
file_archive/InterviewGuide/.Ulysses-Group.plist

#API Keys
/Users/florianpichlmann/projects/bac_thesis_broadband_well/prototype/src/main/java/Helper/APIKeys.java
prototype/src/main/java/Helper/APIKeys.java
/Users/florianpichlmann/projects/bac_thesis_broadband_well/prototype/web/keys.txt
web/keys.txt
